@import "styles/base";

.menu {
  max-height: calc(100vh - var(--header-height));
  top: var(--header-height);
  z-index: 1019 !important;
}

.smallMenu {
  top: var(--header-height) !important;

  .links {
    max-height: calc(100vh - var(--header-height) - 200px);
    min-height: 100px;
    overflow: auto;
  }
}
