.toast-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  left: 50%;
  max-width: 100%;
  padding: 1rem;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: max-content;
  z-index: 1090;

  .toast {
    background-clip: padding-box;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: rgb(var(--color-foreground-rgb));
    font-size: 0.875rem;
    max-width: 100%;
    pointer-events: auto;
    user-select: none;
    width: 320px;

    &.toast-info {
      background-color: rgba(var(--color-blue-600-rgb) / 0.85);
      border: 1px solid rgba(var(--color-blue-600-rgb) / 0.15);
      color: rgb(var(--color-white-rgb));
    }

    &.toast-error {
      background-color: rgba(var(--color-red-600-rgb) / 0.85);
      border: 1px solid rgba(var(--color-red-600-rgb) / 0.15);
      color: rgb(var(--color-white-rgb));
    }

    &.toast-success {
      background-color: rgba(var(--color-green-600-rgb) / 0.85);
      border: 1px solid rgba(var(--color-green-600-rgb) / 0.15);
      color: rgb(var(--color-white-rgb));
    }

    .close-button {
      align-items: center;
      background: transparent;
      border-radius: var(--border-radius);
      display: flex;
      justify-content: center;
      margin-inline-start: 0.75rem;
      opacity: 0.5;
      padding: 0.25rem 0.25rem;

      &:not(:disabled) {
        cursor: pointer;
      }

      &:hover {
        opacity: 0.8;
      }
    }

    .body {
      align-items: center;
      display: flex;
      flex-direction: row;
      font-weight: 500;
      justify-content: space-between;
      padding: 0.75rem;
    }
  }
}
