.toast-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  z-index: 1090;
  width: max-content;
  max-width: 100%;
  pointer-events: none;
  padding: 1rem;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  .toast {
    width: 320px;
    max-width: 100%;
    font-size: 0.875rem;
    pointer-events: auto;
    background-clip: padding-box;
    border: 1px solid rgba(var(--color-black-rgb) / 0.175);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    background-color: rgba(var(--color-background-rgb), 0.85);
    color: rgb(var(--color-foreground-rgb));

    @media (prefers-color-scheme: dark) {
      border: 1px solid rgba(var(--color-white-rgb) / 0.15);

      background-color: rgba(var(--color-background-rgb), 0.85);
    }

    .close-button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.25rem 0.25rem;
      border-radius: var(--border-radius);
      background: transparent;
      margin-inline-start: 0.75rem;
      opacity: 0.5;

      &:not(:disabled) {
        cursor: pointer;
      }

      &:hover {
        opacity: 0.75;
      }
    }

    .body {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0.75rem;
    }
  }
}
