upstream dev.poeticmetric.com {
    server host.docker.internal:3000;
}

server {
	server_name dev.poeticmetric.com;
	listen 80;
	access_log /var/log/nginx/access.log vhost;

	# Do not HTTPS redirect Let'sEncrypt ACME challenge
	location ^~ /.well-known/acme-challenge/ {
		auth_basic off;
		auth_request off;
		allow all;
		root /usr/share/nginx/html;
        try_files $uri =404;
		break;
	}

	location / {
		return 301 https://$host$request_uri;
	}
}

server {
    server_name dev.poeticmetric.com;
    listen 443 ssl;
    access_log /var/log/nginx/access.log vhost;
    ssl_session_timeout 5m;
    ssl_session_cache shared:SSL:50m;
    ssl_session_tickets off;
    ssl_certificate /etc/nginx/certs/dev.poeticmetric.com.crt;
    ssl_certificate_key /etc/nginx/certs/dev.poeticmetric.com.key;
    add_header Strict-Transport-Security "max-age=31536000" always;

    location / {
        proxy_pass http://dev.poeticmetric.com;
    }
}
