@import "base";

.blockquote {
  &::before, &::after {
    background-color: var(--#{$prefix}primary);
    content: "";
    height: calc(50% - 14px);
    left: 0;
    position: absolute;
    width: 4px;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}
