# idea
/.idea/dataSources
/.idea/dataSources.local.xml
/.idea/sqldialects.xml
/.idea/workspace.xml

# frontend
/frontend/node_modules
/frontend/src/styles/style.css
/frontend/src/styles/style.css.map

# others
.DS_Store
