# idea
/.idea/dataSources
/.idea/dataSources.local.xml
/.idea/sqldialects.xml
/.idea/workspace.xml

# frontend
/frontend/dist
/frontend/node_modules
/frontend/public/robots.txt
/frontend/src/styles/style.css
/frontend/src/styles/style.css.map

# others
/etc
.DS_Store
