apiVersion: v1
data:
  {{ toYaml .Values.pgbouncer.config | nindent 2 }}
kind: ConfigMap
metadata:
  labels:
    {{ include "poeticmetric.labels" . | nindent 4 }}
  name: {{ include "poeticmetric.fullname" . }}-pgbouncer
