apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    {{ include "poeticmetric.labels" . | nindent 4 }}
    restart-on-deploy: "true"
  name: {{ include "poeticmetric.fullname" . }}-rest-api
spec:
  replicas: {{ .Values.poeticmetric.config.restApi.replicas }}
  selector:
    matchLabels:
      {{ include "poeticmetric.selectorLabels" . | nindent 6 }}
      deployment: rest-api
  template:
    metadata:
      labels:
        {{ include "poeticmetric.selectorLabels" . | nindent 8 }}
        deployment: rest-api
    spec:
      containers:
      - env:
        - name: INSTANCE
          value: rest-api
        envFrom:
        - configMapRef:
            name: {{ include "poeticmetric.fullname" . }}-clickhouse
            optional: false
          prefix: CLICKHOUSE_
        - prefix: CLICKHOUSE_
          secretRef:
            name: {{ include "poeticmetric.fullname" . }}-clickhouse
            optional: false
        - configMapRef:
            name: {{ include "poeticmetric.fullname" . }}-postgres
            optional: false
          prefix: POSTGRES_
        - prefix: POSTGRES_
          secretRef:
            name: {{ include "poeticmetric.fullname" . }}-postgres
            optional: false
        - configMapRef:
            name: {{ include "poeticmetric.fullname" . }}-rabbitmq
            optional: false
          prefix: RABBITMQ_
        - prefix: RABBITMQ_
          secretRef:
            name: {{ include "poeticmetric.fullname" . }}-rabbitmq
            optional: false
        - prefix: SMTP_
          configMapRef:
            name: {{ include "poeticmetric.fullname" . }}-smtp
            optional: false
        - prefix: SMTP_
          secretRef:
            name: {{ include "poeticmetric.fullname" . }}-smtp
            optional: false
        - prefix: VALKEY_
          configMapRef:
            name: {{ include "poeticmetric.fullname" . }}-valkey
            optional: false
        - prefix: VALKEY_
          secretRef:
            name: {{ include "poeticmetric.fullname" . }}-valkey
            optional: false
        - configMapRef:
            name: {{ include "poeticmetric.fullname" . }}-poeticmetric
            optional: false
        image: {{ printf "%s:%s" .Values.poeticmetric.backend.image.repository .Values.poeticmetric.backend.image.tag }}
        imagePullPolicy: {{ .Values.poeticmetric.backend.image.pullPolicy }}
        name: rest-api
        resources:
          {{ toYaml .Values.poeticmetric.config.restApi.resources | nindent 10 }}
        volumeMounts:
        {{ if .Values.poeticmetric.config.development.hostBasePath }}
        - mountPath: /poeticmetric/cmd
          name: cmd
        - mountPath: /poeticmetric/pkg
          name: pkg
        - mountPath: /poeticmetric/go.mod
          name: go-mod
        - mountPath: /poeticmetric/go.sum
          name: go-sum
        {{ end }}
      {{ if .Values.ghcrAuth }}
      imagePullSecrets:
      - name: {{ include "poeticmetric.fullname" . }}-ghcr-io
      {{ end }}
      volumes:
      {{ if .Values.poeticmetric.config.development.hostBasePath }}
      - hostPath:
          path: {{ .Values.poeticmetric.config.development.hostBasePath }}/backend/cmd
        name: cmd
      - hostPath:
          path: {{ .Values.poeticmetric.config.development.hostBasePath }}/backend/pkg
        name: pkg
      - hostPath:
          path: {{ .Values.poeticmetric.config.development.hostBasePath }}/backend/go.mod
        name: go-mod
      - hostPath:
          path: {{ .Values.poeticmetric.config.development.hostBasePath }}/backend/go.sum
        name: go-sum
      {{ end }}
