apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    {{ include "poeticmetric.labels" . | nindent 4 }}
  name: {{ include "poeticmetric.fullname" . }}-pgbouncer
spec:
  replicas: {{ .Values.pgbouncer.replicas }}
  selector:
    matchLabels:
      deployment: pgbouncer
      {{ include "poeticmetric.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        deployment: pgbouncer
        {{ include "poeticmetric.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - env:
            - name: DB_NAME
              valueFrom:
                configMapKeyRef:
                  key: DATABASE
                  name: {{ include "poeticmetric.fullname" . }}-postgres
            - name: DB_HOST
              value: {{ include "poeticmetric.fullname" . }}-postgres
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: PASSWORD
                  name: {{ include "poeticmetric.fullname" . }}-postgres
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  key: USER
                  name: {{ include "poeticmetric.fullname" . }}-postgres
          envFrom:
            - configMapRef:
                name: {{ include "poeticmetric.fullname" . }}-pgbouncer
              prefix: PGBOUNCER_
          image: {{ printf "%s:%s" .Values.pgbouncer.image.repository .Values.pgbouncer.image.tag }}
          imagePullPolicy: {{ .Values.pgbouncer.image.pullPolicy }}
          name: pgbouncer
          {{ if .Values.pgbouncer.resources }}
          resources:
            {{ toYaml .Values.pgbouncer.resources | nindent 12 }}
          {{ end }}
