apiVersion: batch/v1
kind: Job
metadata:
  annotations:
    helm.sh/hook: post-install,post-upgrade
    helm.sh/hook-weight: "1"
  labels:
    {{ include "poeticmetric.labels" . | nindent 4 }}
  name: {{ include "poeticmetric.fullname" . }}-migrator
spec:
  template:
    metadata:
      labels:
        {{ include "poeticmetric.selectorLabels" . | nindent 8 }}
      name: migrator
    spec:
      containers:
        - env:
            - name: INSTANCE
              value: migrator
            - name: POSTGRES_HOST
              value: {{ include "poeticmetric.fullname" . }}-pgbouncer
            - name: POSTGRES_PORT
              value: "5432"
          envFrom:
            - configMapRef:
                name: {{ include "poeticmetric.fullname" . }}-clickhouse
              prefix: CLICKHOUSE_
            - prefix: CLICKHOUSE_
              secretRef:
                name: {{ include "poeticmetric.fullname" . }}-clickhouse
            - prefix: GOOGLE_
              secretRef:
                name: {{ include "poeticmetric.fullname" . }}-google
                optional: true
            - configMapRef:
                name: {{ include "poeticmetric.fullname" . }}-postgres
              prefix: POSTGRES_
            - prefix: POSTGRES_
              secretRef:
                name: {{ include "poeticmetric.fullname" . }}-postgres
            - configMapRef:
                name: {{ include "poeticmetric.fullname" . }}-rabbitmq
              prefix: RABBITMQ_
            - prefix: RABBITMQ_
              secretRef:
                name: {{ include "poeticmetric.fullname" . }}-rabbitmq
            - configMapRef:
                name: {{ include "poeticmetric.fullname" . }}-smtp
              prefix: SMTP_
            - prefix: SMTP_
              secretRef:
                name: {{ include "poeticmetric.fullname" . }}-smtp
            - prefix: STRIPE_
              secretRef:
                name: {{ include "poeticmetric.fullname" . }}-stripe
                optional: true
            - configMapRef:
                name: {{ include "poeticmetric.fullname" . }}-valkey
              prefix: VALKEY_
            - prefix: VALKEY_
              secretRef:
                name: {{ include "poeticmetric.fullname" . }}-valkey
            - configMapRef:
                name: {{ include "poeticmetric.fullname" . }}-poeticmetric
          image: {{ printf "%s:%s" .Values.poeticmetric.backend.image.repository .Values.poeticmetric.backend.image.tag }}
          imagePullPolicy: {{ .Values.poeticmetric.backend.image.pullPolicy }}
          name: migrator
          volumeMounts:
          {{ if .Values.poeticmetric.config.development.hostBasePath }}
            - mountPath: /poeticmetric/cmd
              name: cmd
            - mountPath: /poeticmetric/pkg
              name: pkg
            - mountPath: /poeticmetric/go.mod
              name: go-mod
            - mountPath: /poeticmetric/go.sum
              name: go-sum
          {{ end }}
      restartPolicy: Never
      volumes:
      {{ if .Values.poeticmetric.config.development.hostBasePath }}
        - hostPath:
            path: {{ .Values.poeticmetric.config.development.hostBasePath }}/backend/cmd
          name: cmd
        - hostPath:
            path: {{ .Values.poeticmetric.config.development.hostBasePath }}/backend/pkg
          name: pkg
        - hostPath:
            path: {{ .Values.poeticmetric.config.development.hostBasePath }}/backend/go.mod
          name: go-mod
        - hostPath:
            path: {{ .Values.poeticmetric.config.development.hostBasePath }}/backend/go.sum
          name: go-sum
      {{ end }}
