apiVersion: v1
kind: Secret
metadata:
  labels:
    {{ include "poeticmetric.labels" . | nindent 4 }}
  name: {{ include "poeticmetric.fullname" . }}-valkey
data:
  PASSWORD: {{ .Values.valkey.password | required ".Values.valkey.password is required!" | b64enc }}
