{{ if .Values.poeticmetric.config.registryAuth }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "poeticmetric.fullname" . }}-registry-auth
stringData:
  .dockerconfigjson: "{\"auths\":{\"{{ .Values.poeticmetric.config.registryAuth.host }}\":{\"auth\":\"{{ (printf "%s:%s" .Values.poeticmetric.config.registryAuth.user .Values.poeticmetric.config.registryAuth.password) | b64enc }}\"}}}"
type: kubernetes.io/dockerconfigjson
{{ end }}
