apiVersion: v1
kind: Service
metadata:
  labels:
    {{ include "poeticmetric.labels" . | nindent 4 }}
  name: {{ include "poeticmetric.fullname" . }}-pgbouncer
spec:
  selector:
    deployment: pgbouncer
    {{ include "poeticmetric.selectorLabels" . | nindent 4 }}
  ports:
    - name: pgbouncer
      port: 5432
      protocol: TCP
      targetPort: 5432
