@font-face {
  font-family: Inter;
  font-stretch: 25% 151%;
  font-weight: 100 900;
  src: url("/fonts/Inter.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Serif";
  font-stretch: 25% 151%;
  font-weight: 100 900;
  src: url("/fonts/NotoSerif.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Serif";
  font-stretch: 25% 151%;
  font-style: italic;
  font-weight: 100 900;
  src: url("/fonts/NotoSerif-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Mono";
  font-stretch: 25% 151%;
  font-weight: 100 900;
  src: url("/fonts/RobotoMono.ttf") format("truetype");
}
