@import "./media.css";

@font-face {
  font-family: Inter;
  font-stretch: 25% 151%;
  font-weight: 100 900;
  src: url("../assets/fonts/Inter.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Serif";
  font-stretch: 25% 151%;
  font-weight: 100 900;
  src: url("../assets/fonts/NotoSerif.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Serif";
  font-stretch: 25% 151%;
  font-style: italic;
  font-weight: 100 900;
  src: url("../assets/fonts/NotoSerif-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Mono";
  font-stretch: 25% 151%;
  font-weight: 100 900;
  src: url("../assets/fonts/RobotoMono.ttf") format("truetype");
}

h1 {
  font-size:  2.125rem;
  font-weight: 700;
  letter-spacing: -1.5px;
  line-height: 1.2;
  transition: font-size var(--transition-duration) ease-in-out;

  @media (--min-sm) {
    font-size: 2.5rem;
  }

  @media (--min-md) {
    font-size: 3rem;
    line-height: 1.1;
  }
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.2;
  transition: font-size var(--transition-duration) ease-in-out;

  @media (--min-sm) {
    font-size: 2rem;
  }

  @media (--min-md) {
    font-size: 2.375rem;
  }
}

h3 {
  font-size: 1.375rem;
  font-weight: 500;
  letter-spacing: -0.5px;
  transition: font-size var(--transition-duration) ease-in-out;

  @media (--min-sm) {
    font-size: 1.5rem;
  }

  @media (--min-md) {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: 1.25rem;
  font-weight: 500;

  transition: font-size var(--transition-duration) ease-in-out;

  @media (--min-md) {
    font-size: 1.5rem;
  }
}

p {
  font-size: 1rem;
  line-height: 1.8;
  transition: font-size var(--transition-duration) ease-in-out;

  @media (--min-md) {
    font-size: 1.125rem;
    line-height: 1.6;
  }
}

small {
  font-size: 0.875rem;
  line-height: 1.8;
  transition: font-size var(--transition-duration) ease-in-out;
}
