@custom-media --min-sm (min-width: 576px);
@custom-media --min-md (min-width: 768px);
@custom-media --min-lg (min-width: 992px);
@custom-media --min-xl (min-width: 1200px);
@custom-media --min-xxl (min-width: 1400px);

:root {
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;

  @custom-media --min-sm (min-width: 576px);
  @custom-media --min-md (min-width: 768px);
  @custom-media --min-lg (min-width: 992px);
  @custom-media --min-xl (min-width: 1200px);
  @custom-media --min-xxl (min-width: 1400px);
}
