@import "variables.css";
@import "fonts.css";

/* components */
@import "components/button.css";
@import "components/card.css";
@import "components/container.css";
@import "components/form.css";
@import "components/link.css";
@import "components/spinner.css";

@import "globals.css";
