@import "base";
@import "fonts";

// global
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";

// _components
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/card";
@import "bootstrap/scss/close";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/offcanvas";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/placeholders";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/transitions";

// utilities
@import "bootstrap/scss/utilities/api";

:root, [data-bs-theme="light"] {
  --header-height: 4rem;
}

.dropdown-item {
  font-weight: $font-weight-medium;
}

[id] {
  scroll-margin-top: var(--header-height);
}

p {
  &:has(+ ul) {
    margin-block-end: 0.5em;
  }

  &:not(:has(+ ul)) {
    &:not(:last-child) {
      margin-block-end: 1em;
    }
  }
}

.btn-unstyled {
  @extend .border-0;
  @extend .p-0;

  background: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-align: inherit;
}

.list-group-item-action {
  &:focus {
    background-color: inherit;
  }

  &:focus-visible {
    background-color: var(--#{$prefix}list-group-action-hover-bg);
  }
}

.d-webkit-box {
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.modal-backdrop, .offcanvas-backdrop {
  @extend .backdrop-blur;
}

fieldset:disabled {
  input, select, textarea {
    cursor: not-allowed;
  }
}
