:root {
  --border-radius-sm: 0.25rem;
  --border-radius: 0.375rem;
  --border-radius-lg: 0.5rem;

  --box-shadow-sm: 0 0.125rem 0.25rem rgba(var(--color-black-rgb) / 0.075);
  --box-shadow: 0 0.5rem 1rem rgba(var(--color-black-rgb) / 0.15);
  --box-shadow-lg: 0 1rem 3rem rgba(var(--color-black-rgb) / 0.175);

  --color-blue-50-rgb: 241 248 254;
  --color-blue-100-rgb: 226 241 252;
  --color-blue-200-rgb: 191 225 248;
  --color-blue-300-rgb: 134 202 243;
  --color-blue-400-rgb: 70 176 234;
  --color-blue-500-rgb: 30 150 217;
  --color-blue-600-rgb: 17 123 191;
  --color-blue-700-rgb: 15 95 149;
  --color-blue-800-rgb: 16 81 124;
  --color-blue-900-rgb: 19 68 103;
  --color-blue-950-rgb: 13 43 68;

  --color-red-50-rgb: 253 243 243;
  --color-red-100-rgb: 252 228 228;
  --color-red-200-rgb: 250 206 206;
  --color-red-300-rgb: 245 172 172;
  --color-red-400-rgb: 237 124 124;
  --color-red-500-rgb: 225 82 82;
  --color-red-600-rgb: 197 48 48;
  --color-red-700-rgb: 173 40 40;
  --color-red-800-rgb: 143 37 37;
  --color-red-900-rgb: 119 37 37;
  --color-red-950-rgb: 64 15 15;

  --color-green-50-rgb: 240 255 244;
  --color-green-100-rgb: 220 251 228;
  --color-green-200-rgb: 180 242 196;
  --color-green-300-rgb: 120 224 140;
  --color-green-400-rgb: 72 203 93;
  --color-green-500-rgb: 34 180 67;
  --color-green-600-rgb: 28 150 55;
  --color-green-700-rgb: 24 120 45;
  --color-green-800-rgb: 20 90 38;
  --color-green-900-rgb: 18 70 32;
  --color-green-950-rgb: 12 45 24;

  --color-white: #FFFFFF;
  --color-white-rgb: 255 255 255;
  --color-black: #000000;
  --color-black-rgb: 0 0 0;

  --transition-duration: 0.1s;

  --color-background-rgb: var(--color-white-rgb);
  --color-background: rgb(var(--color-background-rgb));
  --color-foreground-rgb: var(--color-black-rgb);
  --color-foreground: rgb(var(--color-foreground-rgb));
  --color-border: rgba(var(--color-black-rgb) / 0.1);

  @media (prefers-color-scheme: dark) {
    --color-background-rgb: var(--color-blue-950-rgb);
    --color-background: rgb(var(--color-background-rgb));
    --color-border: rgba(var(--color-white-rgb) / 0.2);
    --color-foreground-rgb: var(--color-white-rgb);
    --color-foreground: rgb(var(--color-foreground-rgb));
  }
}
