.layout {
  margin-block: 2rem;

  &.vertically-center {
    --header-height: 63px;

    align-items: center;
    display: flex;
    flex-grow: 1;
    margin-block: 0;
    margin-top: calc(var(--header-height) * -1);
  }
}
