.layout {
  margin-block: 2rem;

  &.vertically-center {
    --header-height: 63px;

    align-items: center;
    display: flex;
    flex-grow: 1;
    margin-block: calc(var(--header-height) * -1) 0;
  }
}
