$size: 2em;

.activity-indicator {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: $size;
  width: $size;

  .line {
    animation: line-grow 0.5s ease alternate infinite;
    background: linear-gradient(to bottom, var(--bs-primary-text-emphasis), var(--bs-primary));
    border-radius: 2px;
    width: 25%;

    &:nth-child(2) {
      animation-delay: 0.2s;
    }

    &:nth-child(3) {
      animation-delay: 0.4s;
    }
  }
}

@keyframes line-grow {
  0% {
    height: 0;
  }
  100% {
    height: 75%;
  }
}
