@import "~/styles/media.css";

.markdown {
  --scale-ratio: 1.618;

  --fs-base: 1rem;
  --fs-1: var(--fs-base);
  --fs-2: calc(var(--fs-1) * var(--scale-ratio));
  --fs-3: calc(var(--fs-2) * var(--scale-ratio));
  --fs-4: calc(var(--fs-3) * var(--scale-ratio));
  --fs-5: calc(var(--fs-4) * var(--scale-ratio));

  h1, h2, h3, h4, h5 {
    line-height: 1.15;
    transition: font-size var(--transition-duration) ease-in-out;
  }

  h1 {
    font-size: var(--fs-3);
    font-weight: 700;
    letter-spacing: -1.5px;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: var(--fs-2);
    font-weight: 500;
    margin-block: 1.5rem;
  }

  h3 {
    font-size: var(--fs-2);
    font-weight: 500;
    margin-block: 0.5rem;
  }

  p {
    font-size: var(--fs-1);
    line-height: 1.8;
    margin-bottom: 1rem;
    transition: font-size var(--transition-duration) ease;

    &:last-child {
      margin-bottom: 2rem;
    }
  }
}

@media (--min-md) {
  .markdown {
    h1 {
      font-size: var(--fs-4);
      margin-bottom: 3rem;
    }

    h2 {
      letter-spacing: -0.5px;
    }

    p {
      &:last-child {
        margin-bottom: 2.5rem;
      }
    }
  }
}

@media (--min-xl) {
  .markdown {
    h1 {
      font-size: var(--fs-5);
      margin-bottom: 4rem;
    }

    h2 {
      font-size: var(--fs-3);
      margin-block: 2rem;
    }

    h3 {
      font-size: var(--fs-2);
      margin-block: 1rem;
    }

    p {
      font-size: var(--fs-2);
      line-height: 1.6;
      margin-bottom: 1.5rem;

      &:last-child {
        margin-bottom: 3rem;
      }
    }
  }
}
