@import "base";

.markdown {
  a:not([class]) {
    color: $primary;
    font-weight: $font-weight-medium;
    text-decoration: none;

    &:focus-visible, &:hover {
      text-decoration: underline;
    }
  }

  > ol {
    background-color: var(--bs-body-bg);
    border: 1px solid var(--bs-border-color-translucent);
    border-radius: var(--bs-border-radius);
    counter-reset: ordered-list;
    font-size: 1rem;
    padding: 1em;

    > li {
      counter-increment: ordered-list;

      &::after, &::before {
        height: 1.5rem;
      }

      &::after {
        content: counter(ordered-list);
      }

      &::before {
        border-radius: 50%;
      }

      ol {
        padding-block-start: 0.5em;
        padding-inline-start: 1em;
      }

      > ol {
        counter-reset: ordered-list-2;

        > li {
          counter-increment: ordered-list-2;
          font-size: 0.875rem;

          &::after, &::before {
            height: 1.3125rem;
          }

          &::after {
            content: counter(ordered-list-2, upper-alpha);
            font-weight: $font-weight-regular;
          }

          &::before {
            border-radius: 4px;
          }

          > ol {
            counter-reset: ordered-list-3;

            > li {
              counter-increment: ordered-list-3;

              &::after, &::before {
                height: 1.3125rem;
              }

              &::after {
                content: counter(ordered-list-3, lower-roman);
              }
            }
          }
        }
      }
    }
  }

  // stylelint-disable-next-line no-descending-specificity
  ol {
    line-height: 1.5;
    list-style: none;

    // stylelint-disable-next-line no-descending-specificity
    li {
      padding-inline-start: 2.25em;
      position: relative;

      &:not(:first-child) {
        margin-block-start: 0.5em;
      }

      // stylelint-disable-next-line no-descending-specificity
      &::before, &::after {
        align-items: center;
        aspect-ratio: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: 0;
        position: absolute;
        top: 0;
      }

      // stylelint-disable-next-line no-descending-specificity
      &::before {
        background: $primary;
        content: "";
      }

      // stylelint-disable-next-line no-descending-specificity
      &::after {
        color: var(--bs-tertiary-bg);
        font-size: 0.75em;
        font-weight: 600;
        text-align: center;
      }

      ul {
        list-style: disc;
        margin-block-start: 0.5em;
        padding-inline-start: 0.5em;

        // stylelint-disable-next-line no-descending-specificity
        li {
          padding-inline-start: 0.25em;
        }
      }
    }
  }
}
