.form-title {
  margin-inline: auto;
  text-align: center;

  .action-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 2.5rem;
  }

  .heading {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3.5rem;
    margin-bottom: 0.5rem;
    transition: font-size 0.2s ease;
  }

  .go-back {
    color: rgba(var(--color-foreground-rgb));
    font-size: 0.875rem;
    margin-block:  0.75rem 0;
    margin-inline: auto;
    text-align: end;
  }

  .summary {
    color: rgba(var(--color-blue-700-rgb));
    font-weight: 700;
    margin-bottom: 0.25rem;
  }

  @media (prefers-color-scheme: dark) {
    .summary {
      color: rgba(var(--color-blue-400-rgb));
    }
  }

  @media (--min-sm) {
    .heading {
      font-size: 3rem;
    }
  }
}
