@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter;
  font-stretch: 25% 151%;
  font-weight: 100 900;
  src: url("./assets/fonts/Inter.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Serif";
  font-stretch: 25% 151%;
  font-weight: 100 900;
  src: url("./assets/fonts/NotoSerif.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Serif";
  font-stretch: 25% 151%;
  font-style: italic;
  font-weight: 100 900;
  src: url("./assets/fonts/NotoSerif-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Mono";
  font-stretch: 25% 151%;
  font-weight: 100 900;
  src: url("./assets/fonts/RobotoMono.ttf") format("truetype");
}


@layer base {
  :root {
    --background: 255 255 255;
    --primary: 17 123 191;
    --primary-foreground: 255 255 255;
    --ring: 203 213 225;
  }
}

@layer components {
  /* button */
  .btn {
    @apply [&_svg]:pointer-events-none;
    @apply [&_svg]:shrink-0;
    @apply [&_svg]:size-4;
    @apply disabled:opacity-50;
    @apply disabled:pointer-events-none;
    @apply focus-visible:outline-none;
    @apply focus-visible:ring-2;
    @apply focus-visible:ring-offset-2;
    @apply focus-visible:ring-ring;
    @apply font-medium;
    @apply gap-2;
    @apply inline-flex;
    @apply items-center;
    @apply justify-center;
    @apply ring-offset-background;
    @apply rounded-md;
    @apply text-sm;
    @apply transition-colors;
    @apply whitespace-nowrap;

    @apply h-9 px-4 py-2;
  }

  .btn-lg {
    @apply h-10 rounded-md px-8;
  }

  .btn-sm {
    @apply h-8 rounded-md px-3 text-xs;
  }

  .btn-primary {
    @apply bg-primary text-primary-foreground shadow hover:bg-primary/90 focus:bg-primary/90;
  }

  /* container */
  .container-default {
    @apply container mx-auto px-2 sm:px-4 lg:px-6 xl:px-8;
  }
}
