@import "~/styles/media.css";

.navbar {
  align-items: center;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-block: 0.5rem;

  position: relative;
  z-index: 1001;

  > :global(.container) {
    align-items: center;
    display: flex;
    flex-wrap: inherit;
    justify-content: space-between;
  }

  .navbar-brand {
    font-size: 1.25rem;
    margin-right: 1rem;
    padding-block: .3125rem;
    text-decoration: none;
    white-space: nowrap;
  }

  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
  }


  @media (--min-lg) {
    flex-wrap: nowrap;
    justify-content: flex-start;

    .navbar-collapse {
      align-items: center;
      display: flex;
      flex-basis: auto;
      flex-direction: row;
      flex-grow: 1;
      justify-content: space-between;
    }

    .navbar-toggler {
      display: none;
    }
  }
}

.auth-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-start;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;

  .nav-link {
    color: rgba(var(--color-black-rgb) / 0.55);
    display: block;
    padding: .5rem 0;
    text-decoration: none;
    transition: color .15s ease-in-out;

    &:disabled {
      color: rgba(var(--color-black-rgb) / 0.3);
      cursor: not-allowed;
    }

    &:hover, &:focus {
      color: rgba(var(--color-black-rgb) / 0.7);
    }

    &.active {
      color: rgba(var(--color-black-rgb) / 0.9);
    }
  }

  @media (--min-lg) {
    flex-direction: row;

    .nav-link {
      padding-inline: 0.5rem;
    }
  }

  @media (prefers-color-scheme: dark) {
    .nav-link {
      color: rgba(var(--color-white-rgb) / 0.55);

      &:disabled {
        color: rgba(var(--color-white-rgb) / 0.25);
      }

      &:hover, &:focus {
        color: rgba(var(--color-white-rgb) / 0.75);
      }

      &.active {
        color: rgb(var(--color-white-rgb));
      }
    }
  }
}
