.header {
  border: 1px solid var(--color-border);

  .container {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding-block: 1rem;

    .logo {
      display: block;
      height: 2rem;
    }
  }
}
