@import "base";

.header {
  height: var(--header-height);

  .collapse {
    margin-top: 1px;
    max-height: calc(100vh - var(--header-height));
  }
}

.navbar-brand {
  height: calc(2rem + (2 * $navbar-brand-padding-y));
}

.offcanvas {
  @include media-breakpoint-down(lg) {
    top: var(--header-height) !important;
  }
}
