@import "../../styles/media.css";

.navbar {
  --header-height: 62px;

  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0rem;
  border-bottom: 1px solid var(--color-border);

  > :global(.container) {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-brand {
    padding-block: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
  }

  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
  }

  .collapse:not(.show) {
    display: none;
  }

  .collapsing {
    overflow: hidden;
    transition: height .35s ease;
    height: calc(100vh - var(--header-height));
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .nav-link {
    display: block;
    padding: .5rem 0;
    color: rgba(var(--color-black-rgb) / 0.55);
    text-decoration: none;
    transition: color .15s ease-in-out;

    &:disabled {
      color: rgba(var(--color-black-rgb) / 0.3);
      cursor: not-allowed;
    }

    &:hover, &:focus {
      color: rgba(var(--color-black-rgb) / 0.7);
    }

    &.active {
      color: rgba(var(--color-black-rgb) / 0.9);
    }
  }

  @media (--min-lg) {
    flex-wrap: nowrap;
    justify-content: flex-start;

    .navbar-collapse {
      display: flex;
      flex-basis: auto;
    }

    .collapse {
      display: flex !important;
      flex-grow: 1;
      height: auto;
    }

    .navbar-toggler {
      display: none;
    }

    .navbar-nav {
      flex-direction: row;

      .nav-link {
        padding-inline: 0.5rem;
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    .nav-link {
      color: rgba(var(--color-white-rgb) / 0.55);

      &:disabled {
        color: rgba(var(--color-white-rgb) / 0.25);
      }

      &:hover, &:focus {
        color: rgba(var(--color-white-rgb) / 0.75);
      }

      &.active {
        color: rgb(var(--color-white-rgb));
      }
    }
  }
}
