@import "~/styles/media.css";

.collapse {
  margin: -4px;
  overflow: hidden;
  transition: height 0.35s ease;

  .content {
    padding: 4px;
  }

  &.collapse-lg {
    @media (--min-lg) {
      height: auto !important;
      overflow: visible !important;

      .content {
        padding: 0;
      }
    }
  }
}

