# Base
COMPOSE_PROJECT_NAME=poeticmetric
POETICMETRIC_BASE_URL=http://localhost:8000
POETICMETRIC_REST_API_BASE_URL=http://localhost:8001
POETICMETRIC_VERSION=2.0.0

# ClickHouse
POETICMETRIC_CLICKHOUSE_DATABASE=poeticmetric
POETICMETRIC_CLICKHOUSE_PASSWORD=<clickhouse_password>
POETICMETRIC_CLICKHOUSE_USER=poeticmetric

# Postgres
POETICMETRIC_POSTGRES_DATABASE=poeticmetric
POETICMETRIC_POSTGRES_PASSWORD=<postgres_password>
POETICMETRIC_POSTGRES_USER=poeticmetric

# RabbitMQ
POETICMETRIC_RABBITMQ_PASSWORD=<rabbitmq_password>
POETICMETRIC_RABBITMQ_USER=poeticmetric
POETICMETRIC_RABBITMQ_VHOST=/

# SMTP
POETICMETRIC_SMTP_FROM_ADDRESS=<smtp_from_address>
POETICMETRIC_SMTP_HOST=<smtp_host>
POETICMETRIC_SMTP_PASSWORD=<smtp_password>
POETICMETRIC_SMTP_PORT=<smtp_port>
POETICMETRIC_SMTP_USER=<smtp_user>

# Valkey
POETICMETRIC_VALKEY_PASSWORD=<valkey_password>
