.alert {
  --border-color: transparent;
  
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-start;
  padding: 0.75rem;
  position: relative;

  &.alert-danger {
    --border-color: rgb(var(--color-red-50-rgb));

    background-color: rgb(var(--color-red-100-rgb));
    border-color: var(--border-color);
    color: rgb(var(--color-red-800-rgb));
  }

  @media (prefers-color-scheme: dark) {
    &.alert-danger {
      --border-color: rgb(var(--color-red-900-rgb));

      background-color: rgb(var(--color-red-950-rgb));
      border-color: var(--border-color);
      color: rgb(var(--color-red-50-rgb));
    }
  }
}
