.button {
  background: none;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: 500;
  padding: 0.375em 0.75em;
  text-decoration: none;
  transition: all var(--transition-duration) ease-in-out;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.button-blue {
    background-color: rgb(var(--color-blue-600-rgb));
    color: var(--color-white);

    &:not(:disabled) {
      &:focus-visible, &:hover {
        background-color: rgb(var(--color-blue-700-rgb));
      }

      &:active {
        background-color: rgb(var(--color-blue-800-rgb));
      }
    }
  }

  &.button-blue-ghost {
    color: rgb(var(--color-blue-600-rgb));

    &:not(:disabled) {
      &:focus-visible, &:hover {
        background-color: rgba(var(--color-blue-600-rgb) / 0.05);
      }

      &:active {
        background-color: rgba(var(--color-blue-600-rgb) / 0.1);
      }
    }

    @media (prefers-color-scheme: dark) {
      &:not(:disabled) {
        &:focus-visible, &:hover {
          background-color: rgba(var(--color-blue-600-rgb) / 0.1);
        }

        &:active {
          background-color: rgba(var(--color-blue-600-rgb) / 0.2);
        }
      }
    }
  }

  &.button-sm {
    border-radius: var(--border-radius-sm);
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
  }

  &.button-lg {
    border-radius: var(--border-radius-lg);
    font-size: 1.125rem;
    padding: 0.5rem 1rem;
  }
}
