@import "~/styles/media.css";

.container {
  margin-inline: auto;
  padding-inline: 0.75rem;
  width: 100%;

  @media (--min-sm) {
    max-width: 540px;
  }

  @media (--min-md) {
    max-width: 720px;
  }

  @media (--min-lg) {
    max-width: 960px;
  }

  @media (--min-xl) {
    max-width: 1140px;
  }

  @media (--min-xxl) {
    max-width: 1320px;
  }
}
