.fieldset {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.form-error {
  color: rgb(var(--color-red-600-rgb));

  @media (prefers-color-scheme: dark) {
    color: rgb(var(--color-red-900-rgb));
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.25em;

  .form-group-inline {
    display: flex;
    flex-direction: row;
    gap: 0.375em;

    input[type="checkbox"] {
      flex: 0 0 auto;
    }
  }
}

.input {
  background-color: transparent;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: 0.375em 0.75em;

  &.input-invalid {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23C53030' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-exclamation-circle'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none' /%3E%3Cpath d='M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0' /%3E%3Cpath d='M12 9v4' /%3E%3Cpath d='M12 16v.01' /%3E%3C/svg%3E");
    background-position: right calc(.375em + .1875rem) center;
    background-repeat: no-repeat;
    background-size: calc(.75em + .625rem) calc(.75em + .625rem);
    border-color: rgb(var(--color-red-600-rgb));

    &:focus-visible {
      outline-color: rgb(var(--color-red-600-rgb));
    }
  }

  @media (prefers-color-scheme: dark) {
    &.input-invalid {
      border-color: rgb(var(--color-red-900-rgb));

      &:focus-visible {
        outline-color: rgb(var(--color-red-900-rgb));
      }
    }
  }
}

.label {
  font-weight: 500;
}
