.link {
  color: rgb(var(--color-blue-600-rgb));
  font-weight: 500;
  text-decoration: none;
  transition: color var(--transition-duration) ease-in-out;

  &:focus-visible, &:hover {
    color: rgb(var(--color-blue-700-rgb));
  }

  &:active {
    color: rgb(var(--color-blue-800-rgb));
  }

  &.link-animate {
    position: relative;

    &:before {
      background: rgb(var(--color-blue-700-rgb));
      bottom: -2px;
      content: "";
      height: 2px;
      left: 0;
      position: absolute;
      transition: all 0.2s ease-in-out;
      visibility: hidden;
      width: 0;
    }

    &:hover {
      transition: all 0.15s ease-out;

      &:before {
        visibility: visible;
        width: 100%;
      }
    }
  }

  &.link-muted {
    font-weight: 400;
  }

  @media (prefers-color-scheme: dark) {
    color: rgb(var(--color-blue-400-rgb));

    &:focus-visible, &:hover {
      color: rgb(var(--color-blue-500-rgb));
    }

    &:active {
      color: rgb(var(--color-blue-600-rgb));
    }

    &.link-animate {
      &:before {
        background: rgb(var(--color-blue-500-rgb));
      }
    }
  }
}
