.spinner {
  display: block;
  height: 2.25em;
  position: relative;
  width: 2.25em;

  &.spinner-lg {
    font-size: 1.5rem;
  }

  &:before {
    --box-shadow-color-rgb: 0 0 0;
    
    animation: spinner 2000ms infinite linear;
    border-radius: 50%;
    box-shadow: rgba(var(--box-shadow-color-rgb) / 0.75) 1.5em 0 0 0, rgba(var(--box-shadow-color-rgb) / 0.75) 1.1em 1.1em 0 0, rgba(var(--box-shadow-color-rgb) / 0.75) 0 1.5em 0 0, rgba(var(--box-shadow-color-rgb) / 0.75) -1.1em 1.1em 0 0, rgba(var(--box-shadow-color-rgb) / 0.75) -1.5em 0 0 0, rgba(var(--box-shadow-color-rgb) / 0.75) -1.1em -1.1em 0 0, rgba(var(--box-shadow-color-rgb) / 0.75) 0 -1.5em 0 0, rgba(var(--box-shadow-color-rgb) / 0.75) 1.1em -1.1em 0 0;
    content: "";
    display: block;
    font-size: 0.5em;
    height: 1em;
    left: 50%;
    position: absolute;
    top: 50%;
    transform-origin: center;
    width: 1em;
  }

  @media (prefers-color-scheme: dark) {
    &:before {
      --box-shadow-color-rgb: 255 255 255;
    }
  }
}

.spinner-full {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
}

@keyframes spinner {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
