@import "bootstrap/scss/functions";

$enable-negative-margins: true;
$min-contrast-ratio: 4;

$blue: #3182CE;
$gray: #718096;
$red: #C53030;
$yellow: #D69E2E;

$font-size-xs: 0.75rem;
$font-size-xxs: 0.5rem;
$font-weight-medium: 500;

@import "bootstrap/scss/variables";

$border-color-translucent: rgba($black, .125);
$btn-font-weight: $font-weight-semibold;
$dropdown-font-size: $font-size-sm;
$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size
);
$form-label-font-weight: $font-weight-medium;
$nav-link-font-weight: $font-weight-medium;

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";

$utilities-border-colors: map-merge($utilities-border-colors, (
  black: $black,
));

@import "bootstrap/scss/utilities";

$fixed-sizes: (1rem 2rem 3rem 4rem 5rem 6rem 7rem 8rem 9rem 10rem);

$utilities: map-merge($utilities, (
  "background-color": map-merge(map-get($utilities, "background-color"), (
    state: hover,
  )),
  "border-start": map-merge(map-get($utilities, "border-start"), (
    responsive: true,
  )),
  "border-style": (
    css-var: true,
    css-variable-name: border-style,
    class: border,
    values: (
      dotted: dotted,
      solid: solid,
    )
  ),
  "bottom": map-merge(map-get($utilities, "bottom"), (
    responsive: true,
  )),
  "color": map-merge(map-get($utilities, "color"), (
    state: hover,
  )),
  "cursor": (
    property: cursor,
    class: cursor,
    values: (
      pointer,
    ),
  ),
  "end": map-merge(map-get($utilities, "end"), (
    responsive: true,
  )),
  "font-weight": map-merge(map-get($utilities, "font-weight"), (
    values: map-merge(map-get(map-get($utilities, "font-weight"), "values"), (
      medium: $font-weight-medium,
    )),
  )),
  "font-size": map-merge(map-get($utilities, "font-size"), (
    values: map-merge(map-get(map-get($utilities, "font-size"), "values"), (
      sm: $font-size-sm,
      xs: $font-size-xs,
      xxs: $font-size-xxs,
    )),
  )),
  "height-fixed": (
    class: h,
    property: height,
    values: $fixed-sizes,
  ),
  "max-width": map-merge(map-get($utilities, "max-width"), (
    values: map-merge(map-get(map-get($utilities, "max-width"), "values"), (
      32rem: 32rem,
      34rem: 34rem,
    ))
  )),
  "min-height": (
    property: min-height,
    class: min-h,
    values: (
      0: 0,
    ),
  ),
  "min-width": (
    property: min-width,
    class: min-w,
    values: (
      0: 0,
    ),
  ),
  "rounded-bottom-end": (
    class: rounded-bottom-end,
    property: border-bottom-right-radius,
    responsive: true,
    values: (
      0: 0,
      null: var(--#{$prefix}border-radius),
    )
  ),
  "rounded-bottom-start": (
    class: rounded-bottom-start,
    property: border-bottom-left-radius,
    responsive: true,
    values: (
      0: 0,
      null: var(--#{$prefix}border-radius),
    )
  ),
  "start": map-merge(map-get($utilities, "start"), (
    responsive: true,
  )),
  "text-decoration": map-merge(map-get($utilities, "text-decoration"), (
    state: hover,
  )),
  "top": map-merge(map-get($utilities, "top"), (
    responsive: true,
  )),
  "width-fixed": (
    class: w,
    property: width,
    values: $fixed-sizes,
  ),
));

