@import "./bootstrap/bootstrap";

body {
  background-attachment: fixed;
  background-image: url("/waimakariri.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

div#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

svg {
  fill: currentColor;
}

.d-parent {
  &:focus-within, &:hover {
    .d-parent-block {
      display: block !important;
    }
  }

  [class^="d-parent"], [class*=" d-parent"] {
    display: none !important;
  }
}

@include media-breakpoint-up(lg) {
  .site-report-card {
    height: 290px;
    overflow: hidden;
  }
}

.mw-32rem {
  max-width: 32rem !important;
}
