@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
@import "./bootstrap/bootstrap";
@import "./react-datepicker";

body {
  background-attachment: fixed;
  background-image: url("/waimakariri.svg");
  background-repeat: no-repeat;
  background-size: cover;

  font-feature-settings: 'kern';
  font-feature-settings: 'calt' off;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

svg {
  fill: currentColor;
}

.d-parent {
  &:focus-within, &:hover {
    .d-parent-block {
      display: block !important;
    }
  }

  [class^="d-parent"], [class*=" d-parent"] {
    display: none !important;
  }
}

@include media-breakpoint-up(lg) {
  .site-report-card {
    height: 290px;
    overflow: hidden;
  }
}

.mw-32rem {
  max-width: 32rem !important;
}

.visx-axis-tick {
  text {
    font-family: inherit;
  }
}
