@import "./bootstrap";

body {
  background-attachment: fixed;
  background-image: url("/waimakariri.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.d-parent {
  &:focus-within, &:hover {
    .d-parent-block {
      display: block !important;
    }
  }

  [class^="d-parent"], [class*=" d-parent"] {
    display: none !important;
  }
}

.h-1rem {
  height: 0.75rem !important;
}

.mw-32rem {
  max-width: 32rem !important;
}

svg {
  fill: currentColor;
}

.w-4rem {
  width: 4rem !important;
}

.w-6rem {
  width: 6rem !important;
}
