$font-base-url: "/fonts/";

@import "frontend/scss/base";
@import "frontend/scss/fonts";

// global
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";

// _components
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/card";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/offcanvas";

//@import "bootstrap/scss/accordion";
//@import "bootstrap/scss/alert";
//@import "bootstrap/scss/badge";
//@import "bootstrap/scss/breadcrumb";
//@import "bootstrap/scss/close";
//@import "bootstrap/scss/dropdown";
//@import "bootstrap/scss/list-group";
//@import "bootstrap/scss/modal";
//@import "bootstrap/scss/pagination";
//@import "bootstrap/scss/placeholders";
//@import "bootstrap/scss/popover";
//@import "bootstrap/scss/progress";
//@import "bootstrap/scss/spinners";
//@import "bootstrap/scss/tables";
//@import "bootstrap/scss/toasts";
//@import "bootstrap/scss/tooltip";
//@import "bootstrap/scss/transitions";

// utilities
@import "bootstrap/scss/utilities/api";
